form {
  box-shadow: 3px;
  padding: 5px;
  height: 20px;
  width: 90%;
  margin: 0 auto;
  background-color: silver;
  position: relative;
  text-align: center;
}

ul {
  text-decoration: none;
}

input {
  padding-right: 10px;
  float: left;
}

button {
  padding: 2px;
  text-decoration: none;
  box-shadow: 2px;
  padding-right: 10px;
  padding-left: 10px;
  float: right;
}
button:hover {
  padding: 2px;
  text-decoration: none;
  box-shadow: 2px;
  font-weight: bold;
  background-color: #AAC0BC;
}

#mainContent {
  background-color: #C0A463;
  height: 500px;
  width: 50%;
  margin: 0 auto;
}

#boxToDo {
  height: 100px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.listStuff {
  list-style-type: none;
  font-size: 2em;
  padding: 10px;
  background-image: url('../paper.jpg');
  width: 250px;
}
